.container{
    max-width: 1200px;
    margin: 0 auto;
}

.product-section{
    display: flex;
    gap: 20px;
    margin-top: 50px;

}
.product-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.product-item{
    background-color: #f7f7f8;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.product-item h4{
    color: #333;
    margin-bottom: 5px;
    font-size: 1rem;
}
.product-item p{
    color: #777;
    font-size: 0.8rem;
}

.product-item.active,
.product-item:hover {
    background-color: #e7f7f5;
    color: #63b7a0;
}

.view-more h4{
    color: #63b7a0;
    font-size: 1rem;
}

.product-display{
    flex: 2;
    display: flex;
    gap: 20px;
}

.product-display-item{
    position: relative;
    flex: 1;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.product-display-item img{
    width: 100%;
    height: auto;
    display: block;
}

.discount{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

.product-display-item h3{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    position: absolute;
    bottom: 16%;
    left: 43%;
    z-index: 1;
}

.shop-now_1{
    background-color: #63b7a0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    bottom: 8%;
    left: 35%;
    z-index: 1;
}

.shop-now_1:hover{
    background-color: #4a9b87;
}