/* General Styles for the Header */
.header{
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.top_header, .bottom_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar{
    display: flex;
    flex-grow: 2;
}
.navbar-nav{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    align-items: center;
}
.nav-item{
    margin-right: 20px;
}
.nav-link{
    color: #333333;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
}
.nav-link:hover{
    color: #2b7a78;
}
.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-right .nav-link{
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.navbar-right .nav-link i{
    margin-right: 5px;
}

.contact-info{
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
}
.contact-info i{
    margin-right: 5px;
}

.navbar-brand img{
    width: 120px; 
}

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #2b7a78;
    padding: 5px 10px;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}
.search-bar input{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
}
.search-bar select{
    border-left: 1px solid #2b7a78;
    border-right: 1px solid #2b7a78;
    border-top:none;
    border-bottom:none;
    outline: none;
    background: none;
    font-size: 14px;
    color: #555555;
    padding: 9px 7px;
}

.search-bar button{
    background-color: #5fb7a4;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
}
.search-bar button:hover{
    background-color: #4e9c8c;
}