* {
    outline: none;
}

:root {
    --color: #64b496;
    --poppins: "Poppins", sans-serif;
    --manerope: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.offer {
    position: relative;
    padding: 70px 0;
}

.offer ul li button {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;

}

.offer ul li button:hover {
    color: var(--color);
}

.offer ul li:first-child button {
    color: var(--color);
}

.offer ul li:last-child button {
    color: var(--color);
}

.offer ul li span {
    margin-top: 4px;
    font-size: 12px;
    color: #7a7a7a;
    font-weight: 400;
}

.offer img {
    width: 100%;
    height: 519px;
    border-radius: 5px;
}

.offer:hover img {
    color: #7a7a7a;
}

.offer .offers {
    position: relative;
}

.offer .offers h2 {
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
    font-size: 54px;
    width: 100px;
    align-items: center;
    font-weight: 600;
}

.offer .offers h2 span {
    position: absolute;
    top: 0px;
    left: 70px;
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0 10px 5px;
    font-family: var(--manerope);
}

.offer .shop {
    display: flex;
}

.offer .shop button {
    padding: 8px 22px;
    background-color: var(--color);
    transition: all 0.5s;
}

.offer .shop button:hover {
    background-color: black;
    border: 1px solid white;
}

.offer .shop button a {
    font-size: 14px;
    font-family: var(--manerope);
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.offer .contant {
    font-family: var(--manerope);
    position: absolute;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 350px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.offer .contant h3 {
    font-size: 22px;
    font-weight: 700;
}

@media (max-width:576px) {
    .offer {
        padding: 50px 0;
    }
}

@media (max-width:768px) {
    .offer {
        padding: 50px 0;
    }
}

@media (max-width:992px) {
    .offer {
        padding: 50px 0;
    }
}
